* {
    margin: 0;
    padding: 0;

}
.container {
    height: fit-content;
    width: fit-content;
    background-color: aqua;
    background-position: center;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}
.supermarket-sheet {
    height: fit-content;
    width: fit-content;
    background-color: #f0f8ff;
    background-position: center;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;

}
.comment {
    position: relative;
    margin: 20px auto;
    margin-top: 20px;
    margin-bottom: 15px;
}

